html{font-size: 11.76470588235vw; }
html,body{display: flex; flex-direction: column; height: 100%;}
/***************************************************** 头部开始 #header *****************************************************/
#header{ width: 8.50rem; height: 1.06rem; background-color: #1296db; display: flex; justify-content: space-between;}

#header .logo{ display: flex; align-items: center;}
#header .logo img{height: .86rem; margin-left: .2rem;}
#header .logo span{ font: .6rem/1.06rem '宋体'; color: #fff; margin-left: .1rem;}

#header .RongQi{ display: flex; align-items: center;}
#header .RongQi .souSuo{ display: flex; margin-right: .4rem;}
#header .RongQi .souSuo img{ height: .6rem;}

#header .RongQi .LiShi{ display: flex;}
#header .RongQi .LiShi img{ height: .6rem; margin-right: .2rem;}
/**************************************************** 头部结束 #header ****************************************************/

/**************************************************** 发现内容 #container 开始 ****************************************************/
#container{ display: flex; flex-direction: column; overflow-y: auto;flex: 1;}
#container .Option{ display: flex; flex-direction: column; padding-bottom: .2rem; border-bottom: .01rem solid #ddd;}
#container .Option ul{ display: flex; flex-wrap: wrap; margin-top: .3rem;}
#container .Option ul li{ display: flex; flex-direction: column; margin: .2rem 0 0 .24rem; border: .01rem solid #ddd; text-align: center; height: 1rem; width: 2.48rem; font: .28rem/1rem ''; color: #666;}
#container .Option ul li:nth-child(1) a{ background: #23a7ce; color: #fff;}

#container .recommend{ display: flex; flex-direction: column; border-top: .5rem solid #fafafa; background-color: #fff;}
#container .recommend .H5{ border-top: .01rem solid #ddd; display: flex; justify-content: space-between;}
#container .recommend .H5 s{ height: .25rem; width: .15rem; background: url(../images/ud/arrow_right.png) no-repeat center; background-size: .15rem .25rem; margin: .38rem .28rem 0 0;}
#container .recommend h5{ display: flex; font: 600 .36rem/1.02rem ''; color: #000;}
#container .recommend h5 b{ margin: .28rem; height: .4rem; width: .4rem; background: url(../images/ud/index_title_1.png) no-repeat center; background-size: .4rem .4rem;}
#container .recommend .MuanHua{ border-bottom: .02rem solid #ddd; display: flex; flex-wrap: wrap; justify-content: space-evenly;}
#container .recommend .MuanHua li a{ display: flex; flex-direction: column;}
#container .recommend .MuanHua li a img{height: 3.78rem; width: 2.54rem; border: .01rem solid #ddd;} 
#container .recommend .MuanHua li a span{ font: .32rem/.93rem ''; color: #333; text-align: center;}
#container .xuanXiang { background: #fafafa; padding: .3rem 0; display: flex; flex-direction: column;}
#container .xuanXiang ul{ display: flex; justify-content: center;}
#container .xuanXiang ul li{ margin: 0 .05rem; font: .24rem/.6rem ''; text-align: center; color: #333; height: .6rem; width: .6rem; border: .01rem solid #aaa; border-radius: .03rem;}   
#container .xuanXiang ul li a img{ height: .3rem; width: .3rem;}

#container .jieShao{ display: flex; flex-direction: column;background: #fafafa; padding: 0 .1rem; border-top: .05rem solid #f33e51;}
#container .jieShao span{ text-indent: 2em; font: .28rem/2 ''; color: #666; text-align: center;}
#container .jieShao p{  font: .28rem/2 ''; color: #666; text-align: center;}
#container .jieShao p a{ color: #f33e51;}
/**************************************************** 发现内容 #container 结束 ****************************************************/

/**************************************************** 菜单选项开始 #footer ****************************************************/
#footer{ position: relative; width: 8.50rem;  height: 1.5rem; background-color: #fff; border-top: .01rem solid #ddd; bottom: 0; left: 0;}
#footer ul{ display: flex; justify-content: space-around;}
#footer ul li{display: flex; height: 1.5rem; margin-left: .2rem;}
#footer ul li a{display: flex; flex-direction: column; justify-content: center;}
#footer ul li b{height: .6rem; width: .6rem;}
#footer ul li:nth-child(1) b{background: url(../images/icon_mpw225y3a3b/tuijian.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li:nth-child(2) b{background: url(../images/icon_mpw225y3a3b/iconfontfaxian.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li:nth-child(3) b{background: url(../images/icon_mpw225y3a3b/shujia.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li:nth-child(4) b{background: url(../images/icon_mpw225y3a3b/wode.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li span{ margin-top: .1rem; font: .16rem/2 ''; text-align: center; color: #707070;}

#footer ul li:nth-child(1) a:hover b{background: url(../images/icon_2vid6jws9mu/tuijian.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li:nth-child(2) a:hover b{background: url(../images/icon_2vid6jws9mu/iconfontfaxian.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li:nth-child(3) a:hover b{background: url(../images/icon_2vid6jws9mu/shujia.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li:nth-child(4) a:hover b{background: url(../images/icon_2vid6jws9mu/wode.png) no-repeat center; background-size: .6rem .6rem;}
#footer ul li a:hover span{ color: #1296db;}

/**************************************************** 菜单选项结束 #footer ****************************************************/
